
#main{
	font-size: 1.2em;
	min-height: 28em;
	min-width: 80em;
	height: inherit;
	position: relative;
}

.tourncol{
	position: absolute;
	width: 9%;
	height: 100%;
	min-height: inherit;
	display: inline-block;
}
#tourncol1{
	top: 0%;
	left: 2%;
}
#tourncol2{
	top: 0%;
	left: 14.5%;
}
#tourncol3{
	top: 0%;
	left: 27%;
}
#tourncol4{
	top: 0%;
	left: 39.5%;
}
#tourncol5{
	top: 0%;
	left: 52%;
}
#tourncol6{
	top: 0%;
	left: 64.5%;
}
#tourncol7{
	top: 0%;
	left: 77%;
}
#tourncol8{
	top: 0%;
	left: 89.5%;
}
