body{
	background-color: black;
	color: white;
}
div#scoreboard{
	background-color: #222222;
	width: 60%;
	height: 100%;
	margin: auto;
	border-radius: 3em;
}
div#clock{
	margin: auto;
	font-size: 10vw;
	color: #FFFF99;
	background-color: #000000;
	text-shadow: 0px 0px 2vh #FF0000,0px 0px 2vh #FF0000,0px 0px 2vh #FF0000;
	text-align: center;
	width: 25vw;
	box-shadow: 0px 0px 1vh #0000FF;
}
div.score{
	color: #FF0000;
	text-shadow: 0px 0px 2vh #FFFFFF,0px 0px 2vh #FFFFFF,0px 0px 2vh #FFFFFF;
	font-size: 12vw;
	margin: 1vh;
	position: relative;
	top: -6vw;
}
#homescore{
	float: left;
}
#guestscore{
	float: right;
}
div.foul{
	color: #FF0000;
	text-shadow: 0px 0px 1vh #FFFF00;
	font-size: 8vw;
	margin: 1vh;
	position: absolute;
	width: 14vw;
	text-align: center;
	bottom: 0px;
}
#guestfoul{
	right: 22vw;
	margin-right: 1vw;
}
#homeFoul{
	margin-left: 2vw;
}
div.teamname{
	color: #FFFFFF;
	background-color: #000000;
	text-shadow: 0px 0px 4vh #FFFFFF;
	font-size: 5vw;
	margin: 1vh;
	position: absolute;
	width: 30%;
	text-align: center;
	top: 0px;
	border-radius: 3vh;
	box-shadow: 0px 0px 2vmin #FF0000;
}
#homename{
	left: 0px;
}
#guestname{
	right: 0px;
}
div#period{
	position: relative;
	top: 5vh;
	margin: auto;
	color: #FFFFFF;
	font-size: 4vw;
	text-align: center;
	width: 20%;
}
div#poss{
	position: relative;
	top: 5vh;
	margin: auto;
	color: #FFFFFF;
	font-size: 4vw;
	text-align: center;
	width: 30%;
}
.description{
	font-size: 7vmin;
}
#homepfp{
	top: 15vh;
	left: 0px;
}
#guestpfp
{
	right: 0px;
}
div.pfp
{   
	color: #00FF74;
	text-shadow: 0px 0px 0.1vmin #FFFFFF, 0px 0px 0.3vmin #FFFFFF;
    overflow-y: auto;
	background-color: #000004;
	position: absolute;
	top: 15vh;
	width: 20%;
	height: 84vh;
	font-size: 2.2vw;
	text-align: center;
}
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}